{% extends 'apps/base.html' %}
{% load custom_math %}
{% load static %}

{% block main_content %}
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Blog List</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="li-main-blog-page pt-60 pb-55">
        <div class="container">
            <div class="row">
                <!-- Begin Li's Main Content Area -->
                <div class="col-lg-12">
                    <div class="row li-main-content">
                        {% for blog in blogs %}
                            <div class="col-lg-12">
                                <div class="li-blog-single-item pb-30">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="li-blog-banner">
                                                <a href="{% url 'blog_detail_page' blog.id %}">
                                                    <img class="img-full" src="{{ blog.image.url }}" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="li-blog-content">
                                                <div class="li-blog-details">
                                                    <h3 class="li-blog-heading pt-xs-25 pt-sm-25">
                                                        <a href="{% url 'blog_detail_page' blog.id|stringformat:"s" %}">{{ blog.name }}</a>
                                                    </h3>
                                                    <div class="li-blog-meta">
                                                        <a class="author" href="#">
                                                            <i class="fa fa-user">
                                                            </i>{{ blog.author.first_name }}</a>
                                                        <a class="comment" href="#">
                                                            <i class="fa fa-comment-o"></i> 3 comment</a>
                                                        <a class="post-time" href="#"><i
                                                                class="fa fa-calendar"></i> {{ blog.created_at|date:"d b Y" }}
                                                        </a>
                                                    </div>
                                                    <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium
                                                        arcu
                                                        ex. Aenean posuere libero eu augue condimentum rhoncus. Cras
                                                        pretium
                                                        arcu ex.</p>
                                                    <a class="read-more"
                                                       href="{% url 'blog_detail_page' blog.id|stringformat:"s" %}">Read
                                                        More...</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <!-- Begin Li's Pagination Area -->
                        <div class="col-lg-12">
                            <div class="li-paginatoin-area text-center pt-25">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="li-pagination-box">
                                            {% if page_obj.has_previous %}
                                                <li><a class="Previous"
                                                       href="{{ page_obj.previous_page_number|add_url_query_params:request.GET }}">Previous</a>
                                                </li>
                                            {% endif %}
                                            {% if page_obj.has_previous %}
                                                <li>
                                                    <a href="{{ page_obj.number|sub:"1"|add_url_query_params:request.GET }}">{{ page_obj.number|add:"-1" }}</a>
                                                </li>
                                            {% endif %}
                                            <li class="active"><a href="#">{{ page_obj.number }}</a></li>

                                            {% if page_obj.has_next %}
                                                <li>
                                                    <a href="{{ page_obj.number|add:'1'|add_url_query_params:request.GET }}">{{ page_obj.number|add:'1' }}</a>
                                                </li>
                                            {% endif %}
                                            {% if page_obj.has_next %}
                                                <li><a class="Next"
                                                       href="{{ page_obj.next_page_number|add_url_query_params:request.GET }}">Next</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Li's Pagination End Here Area -->
                    </div>
                </div>
                <!-- Li's Main Content Area End Here -->
            </div>
        </div>
    </div>
{% endblock %}

