{% extends 'apps/base.html' %}

{% load static %}

{% block main_content %}
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Blog List</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="li-main-blog-page pt-60 pb-55">
        <div class="container">
            <div class="row">
                <!-- Begin Li's Main Content Area -->
                <div class="col-lg-12">
                    <div class="row li-main-content">
                        <div class="col-lg-12">
                            <div class="li-blog-single-item pb-30">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="li-blog-banner">
                                            <a href="{% url 'blog_detail_page' %}"><img class="img-full"
                                                                                          src="{% static 'apps/images/blog-banner/2.jpg' %}"
                                                                                          alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="li-blog-content">
                                            <div class="li-blog-details">
                                                <h3 class="li-blog-heading pt-xs-25 pt-sm-25"><a
                                                        href="{% url 'blog_detail_page' %}">blog image post</a></h3>
                                                <div class="li-blog-meta">
                                                    <a class="author" href="#"><i class="fa fa-user"></i>Admin</a>
                                                    <a class="comment" href="#"><i class="fa fa-comment-o"></i> 3
                                                        comment</a>
                                                    <a class="post-time" href="#"><i class="fa fa-calendar"></i> 25 nov
                                                        2018</a>
                                                </div>
                                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu
                                                    ex. Aenean posuere libero eu augue condimentum rhoncus. Cras pretium
                                                    arcu ex.</p>
                                                <a class="read-more" href="{% url 'blog_detail_page' %}">Read
                                                    More...</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="li-blog-single-item pb-30">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="li-blog-gallery-slider slick-dot-style">
                                            <div class="li-blog-banner">
                                                <a href="{% url 'blog_detail_page' %}"><img class="img-full"
                                                                                              src="{% static 'apps/images/blog-banner/1.jpg' %}"
                                                                                              alt=""></a>
                                            </div>
                                            <div class="li-blog-banner">
                                                <a href="{% url 'blog_detail_page' %}"><img class="img-full"
                                                                                              src="{% static 'apps/images/blog-banner/2.jpg' %}"
                                                                                              alt=""></a>
                                            </div>
                                            <div class="li-blog-banner">
                                                <a href="{% url 'blog_detail_page' %}"><img class="img-full"
                                                                                              src="{% static 'apps/images/blog-banner/3.jpg' %}"
                                                                                              alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="li-blog-content">
                                            <div class="li-blog-details">
                                                <h3 class="li-blog-heading pt-xs-25 pt-sm-25"><a
                                                        href="{% url 'blog_detail_page' %}">blog gallery post</a></h3>
                                                <div class="li-blog-meta">
                                                    <a class="author" href="#"><i class="fa fa-user"></i>Admin</a>
                                                    <a class="comment" href="#"><i class="fa fa-comment-o"></i> 3
                                                        comment</a>
                                                    <a class="post-time" href="#"><i class="fa fa-calendar"></i> 25 nov
                                                        2018</a>
                                                </div>
                                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu
                                                    ex. Aenean posuere libero eu augue condimentum rhoncus. Cras pretium
                                                    arcu ex.</p>
                                                <a class="read-more" href="{% url 'blog_detail_page' %}">Read
                                                    More...</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="li-blog-single-item pb-30">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="li-blog-banner embed-responsive embed-responsive-16by9">
                                            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/300107209&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="li-blog-content">
                                            <div class="li-blog-details">
                                                <h3 class="li-blog-heading pt-xs-25 pt-sm-25"><a
                                                        href="{% url 'blog_detail_page' %}">blog audio post</a></h3>
                                                <div class="li-blog-meta">
                                                    <a class="author" href="#"><i class="fa fa-user"></i>Admin</a>
                                                    <a class="comment" href="#"><i class="fa fa-comment-o"></i> 3
                                                        comment</a>
                                                    <a class="post-time" href="#"><i class="fa fa-calendar"></i> 25 nov
                                                        2018</a>
                                                </div>
                                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu
                                                    ex. Aenean posuere libero eu augue condimentum rhoncus. Cras pretium
                                                    arcu ex.</p>
                                                <a class="read-more" href="{% url 'blog_detail_page' %}">Read
                                                    More...</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="li-blog-single-item pb-30">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="li-blog-banner embed-responsive embed-responsive-16by9">
                                            <iframe src="https://www.youtube.com/embed/DR2c266yWEA"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="li-blog-content">
                                            <div class="li-blog-details">
                                                <h3 class="li-blog-heading pt-xs-25 pt-sm-25"><a
                                                        href="{% url 'blog_detail_page' %}">blog video post</a></h3>
                                                <div class="li-blog-meta">
                                                    <a class="author" href="#"><i class="fa fa-user"></i>Admin</a>
                                                    <a class="comment" href="#"><i class="fa fa-comment-o"></i> 3
                                                        comment</a>
                                                    <a class="post-time" href="#"><i class="fa fa-calendar"></i> 25 nov
                                                        2018</a>
                                                </div>
                                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu
                                                    ex. Aenean posuere libero eu augue condimentum rhoncus. Cras pretium
                                                    arcu ex.</p>
                                                <a class="read-more" href="{% url 'blog_detail_page' %}">Read
                                                    More...</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="li-blog-single-item pb-30">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="li-blog-banner">
                                            <a href="{% url 'blog_detail_page' %}"><img class="img-full"
                                                                                          src="{% static 'apps/images/blog-banner/5.jpg' %}"
                                                                                          alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="li-blog-content">
                                            <div class="li-blog-details">
                                                <h3 class="li-blog-heading pt-xs-25 pt-sm-25"><a
                                                        href="{% url 'blog_detail_page' %}">blog fifth post</a></h3>
                                                <div class="li-blog-meta">
                                                    <a class="author" href="#"><i class="fa fa-user"></i>Admin</a>
                                                    <a class="comment" href="#"><i class="fa fa-comment-o"></i> 3
                                                        comment</a>
                                                    <a class="post-time" href="#"><i class="fa fa-calendar"></i> 25 nov
                                                        2018</a>
                                                </div>
                                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu
                                                    ex. Aenean posuere libero eu augue condimentum rhoncus. Cras pretium
                                                    arcu ex.</p>
                                                <a class="read-more" href="{% url 'blog_detail_page' %}">Read
                                                    More...</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="li-blog-single-item mb-30">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="li-blog-banner">
                                            <a href="{% url 'blog_detail_page' %}"><img class="img-full"
                                                                                          src="{% static 'apps/images/blog-banner/6.jpg' %}"
                                                                                          alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="li-blog-content">
                                            <div class="li-blog-details">
                                                <h3 class="li-blog-heading pt-xs-25 pt-sm-25"><a
                                                        href="{% url 'blog_detail_page' %}">blog second post</a></h3>
                                                <div class="li-blog-meta">
                                                    <a class="author" href="#"><i class="fa fa-user"></i>Admin</a>
                                                    <a class="comment" href="#"><i class="fa fa-comment-o"></i> 3
                                                        comment</a>
                                                    <a class="post-time" href="#"><i class="fa fa-calendar"></i> 25 nov
                                                        2018</a>
                                                </div>
                                                <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu
                                                    ex. Aenean posuere libero eu augue condimentum rhoncus. Cras pretium
                                                    arcu ex.</p>
                                                <a class="read-more" href="{% url 'blog_detail_page' %}">Read
                                                    More...</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Begin Li's Pagination Area -->
                        <div class="col-lg-12">
                            <div class="li-paginatoin-area text-center pt-25">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="li-pagination-box">
                                            <li><a class="Previous" href="#">Previous</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a class="Next" href="#">Next</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Li's Pagination End Here Area -->
                    </div>
                </div>
                <!-- Li's Main Content Area End Here -->
            </div>
        </div>
    </div>
{% endblock %}

